@model IEnumerable<Frontend.Models.ProductViewModel>

@{
    ViewData["Title"] = "GetProductos";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<h1>GetProductos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioBase)
                </td>
                <td>
                    @if (carrito != null && carrito.Contains(item.Id))
                    {
                        <button disabled class="btn btn-outline-danger disabled">En carrito</button>
                    }
                    else
                    {
                        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Producto" asp-route-idproducto="@item.Id">
                            Añadir a carrito
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>